    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/estilos.css">    
        <script defer src="../assets/js/validaciones.js"></script>
        <title>Formulario de Registro</title>
    </head>
    <body>
        <div class="container">
            <div class="container-hero">
                <header class="hero">
                    <div class="support">
                        <i class="fa-solid fa-headphones"></i>
                        <div class="custom-support">
                            <p class="text">Soporte</p>
                            <p class="text">Ezequiel@gmail.com</p>
                        </div>
                    </div>
                    <div class="container-logo">
                        <i class="fa-solid fa-globe"></i>
                        <h1 class="logo"><a href="/">Quilmes NET</a></h1>
                    </div>
                </header>
                <nav class="container-navbar">
                    <ul class="navbar menu">
                        <li><a href="../views/index.html">Inicio</a></li>
                    </ul>
                </nav>
            </div>

            <div class="container-menu">
                <h2 class="titulo-menu">Registro</h2>
                <div class="main-content">  
                    <form method="post" id="form" class="form" action="../views/mail.php">
                        <h2>Formulario de Contacto</h2>
                        <div class="datos_form">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre">
                            <small> Error </small>
                        </div>
                        <div class="datos_form">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                            <small>Error</small>
                        </div>
                        <div class="datos_form">
                            <label for="telefono">Teléfono</label>
                            <input type="tel" id="telefono" name="telefono">
                            <small>Error</small>
                        </div>
                        <div class="botones">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>  
                    
                    <div class="banners">
                    </div>
                </div>
            </div>

            <footer>
                <p>&copy; 2024 Quilmes NET. Todos los derechos reservados.</p>
            </footer>
        </div>
        <script src="https://kit.fontawesome.com/1f34758615.js" crossorigin="anonymous"></script>
    </body>
    </html>
