<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quilmes NET</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <script defer src="../assets/js/main.js"></script>    
    <script defer src="../assets/js/validaciones.js"></script>
    
</head>
<body>
    <header>
        
        <div class="container">
            <div class="container-first">
                <div class="support">
                    <i class="fa-solid fa-headphones"></i>
                    <div class="custom-support">
                        <p class="text">  <a href=".."></a></p>
                        <h1 class="logo"><a href="../dash/dash/index.php">Usuarios</a></h1>
                    </div>
                </div>
                <div class="container-logo">
                    <i class="fa-solid fa-globe"></i>   
                    <h1 class="logo"><a href="/">Quilmes NET</a></h1>
                </div>
                <div class="container-user">
                    <img src="../assets/img/logo.jpg" alt="" style="
                    height: 108px;
                ">
                </div>
            </div>
        </div>
        
        <div class="container-navbar">
            <nav class="navbar container">
                <ul class="menu">
                    <li><a href="../views/index.html">Inicio</a></li>
                    <li><a href="../views/formulario.html">Contacto</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-menu">
            <div class="titulo-menu"> Internet en tu hogar  </div>
            <div class="download-menu"> Conexion a internet rapida y estable </div>
            <div class="text-menu"> Creando conexiones y una red de servicios en zona sur
            </div>
        </div>
    </header>
    <div class="slider">
    <div class="slider-frame">
        
            <img src="../assets/img/a.jpg" alt="Imagen 1">
            <img src="../assets/img/c.jpg" alt="Imagen 2">
            <img src="../assets/img/b.jpg" alt="Imagen 3">
        
    </div>
    </div>
    <div class="banners">
        </div>
        <main class="main-content">
            <section class="container-features">
                <div class="card-features">
                    <i class="fa-solid fa-house"></i>
                    <span id="nosotros">Nosotros</span>
                    <div class="feature-content">
                        <p> Somos una empresa joven, dinámica y flexible, compuesta por profesionales
                            en el campo de las telecomunicaciones. En nuestra organización,
                            contamos con una estructura en la que todas las áreas tienen voz, 
                            donde se valora la contribución de cada miembro, y en la que consideramos 
                            al cliente como parte integral de nuestro equipo</p>
                    </div>
                </div>
                <div class="card-features">
                    <i class="fa-solid fa-user"></i>
                    <span>Preguntas Frecuentes </p>
                        <ul class="faq-list">
                            <li class="faq-item">
                                <div class="faq-question">
                                    <a>¿Qué servicio ofrece FiberLink y cómo funciona?</a>
                                    <button class="toggle-answer">Mostrar</button>
                                </div>
                                <div class="faq-answer">
                                    <p>FiberLink ofrece servicios de internet de alta velocidad a través de fibra óptica, garantizando una conexión rápida y estable.</p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <div class="faq-question">
                                    <a>¿Las tormentas afectan el servicio como sucede con la televisión?</a>
                                    <button class="toggle-answer">Mostrar</button>
                                </div>
                                <div class="faq-answer">
                                    <p>Las tormentas no afectan el servicio de FiberLink debido a la resistencia de la fibra óptica a las interferencias electromagnéticas.</p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <div class="faq-question">
                                    <a>¿Funciona siempre a la misma velocidad?</a>
                                    <button class="toggle-answer">Mostrar</button>
                                </div>
                                <div class="faq-answer">
                                    <p>Sí, la conexión de FiberLink mantiene una velocidad constante gracias a la tecnología de fibra óptica.</p>
                                </div>
                            </li>
                            <li class="faq-item">
                                <div class="faq-question">
                                    <a>¿Necesito tener teléfono para usar Internet?</a>
                                    <button class="toggle-answer">Mostrar</button>
                                    </button>
                                </div>
                                <div class="faq-answer">
                                    <p>No, no necesitas tener teléfono para usar el servicio de Internet de FiberLink.</p>
                                </div>
                            </li>
                            
                        </ul>
                </div>
                <div class="card-features">
                    <i class="fa-solid fa-handshake-angle"></i>
                    <span>Soporte Virtual </p>
                    <div class="feature-content">
                        
                        <p> Soporte para solucionar cualquier inconveniente</p>
                    </div>
                    <h3>
                        Si tiene problemas de señal o de ping, por favor envienos una mensaje, 
                        en breve lo estaremos llamando.
                        <br> Cel: +54 9 11 2222-3333 </br>
                        Email: Ezequiel@gmail.com
                        Horario de atencion: 9-18hs
                    </h3>
                </div>
            </section>
            <div class="contain-cobert">

                <p>Cobertura General</p>
                <p> Lomas de Zamora / Almirante Brown / Guernica  </p>
                <p> Esteban Echeverria / Ezeiza</p>
                
            </div>
        </main>
        <footer>
            <p>&copy; 2024 Quilmes NET. Todos los derechos reservados.</p>
        </footer>
        <script src="https://kit.fontawesome.com/1f34758615.js" crossorigin="anonymous"></script>
</body>
</html>
